# 1. El bucle FOR

Para poner en cursiva un texto se pone entre una *

Tambien se puede añadir texto en latex y basta con usar la sintaxis de *Latex* que usamos habitualmente

$$ 1 + 2 + 3 $$

El siguiente for va iterando desde 2, hasta el 10, incrementando la *variable* **i** de dos en dos, pues el ultimo parametró es el que indica como va incrementandose. Si no se pone el tercer parametró por *default* se va incremendando de uno en uno la variable.

In [3]:
for i in range(2,10,2):
    print(i)

2
4
6
8

El siguiente **for** va de 0 a 9, pero son 10 elementos.

In [ ]:
for i in range(10):
    print(i)

## Ejemplo de construir listas de manera "conjuntista"

In [7]:
# Construyendo lista de tuplas

# Entonces i [0-1] y j [0-2]

# i tiene dos elementos, pero los indices empiezan desde cero

L = [(i,j) for i in range(2) for j in range(3)]
L

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

## Otro ejemplo

In [9]:
T = [28.5, 27.8, 30.7, 25.5]
T

[28.5, 27.8, 30.7, 25.5]

In [12]:
for t in T:
    print("Temperatura:", t)

Temperatura: 28.5
Temperatura: 27.8
Temperatura: 30.7
Temperatura: 25.5

Operando recorriendo la lista

In [14]:
# Se suma uno a cada elemento de la lista
T = [t+1 for t in T]
T

[30.5, 29.8, 32.7, 27.5]

In [16]:
## Tamaño de una lista
tam = len(T)
tam

4

In [17]:
## Otra forma de imprimir una lista
for i in range(len(T)):
    print(T[i])

30.5
29.8
32.7
27.5

In [22]:
#Creamos una lista de dias de la semana
S = ["Lunes", "Martes","Miercoles","Jueves"]
S

['Lunes', 'Martes', 'Miercoles', 'Jueves']

Para que podamos empatar listas, deben tener el mismo tamaño :)

In [23]:
len(T)==len(S)

True

In [28]:
if(len(T)==len(S)):
    ST =[(S[i],T[i]) for i in range(len(S))]
ST

[('Lunes', 30.5), ('Martes', 29.8), ('Miercoles', 32.7), ('Jueves', 27.5)]

    Ahora calcularemos la temperatura media

In [29]:
s = 0
for t in T:
    s+=t 
print("La media", s/len(T))

La media 30.125

Hay una función en Python **sum** que suma todos los elementos de una lista.

## Agregar elementos a una lista

In [31]:
T.append(8.0) #Agrega el valor 1.0 a la lista
T

[30.5, 29.8, 32.7, 27.5, 1.0, 8.0]

In [33]:
# agregaremos los elementos de una lista a una lista anterior
nT=[23.4,12.3]

for t in nT:
    T.append(t)
print(T)

[30.5, 29.8, 32.7, 27.5, 1.0, 8.0, 23.4, 12.3, 23.4, 12.3]